{
  "url": "http://tao-community.docker.localhost",
  "login": "admin",
  "password": "Admin.12345",
  "itemClassUri": "https://tao-community.docker.localhost/ontologies/tao.rdf#i60d9bcbe2571c382a3fbec1ba1e3dbc",
  "cookieName": "tao"
}
