funcAcl/
generis/
ltiDeliveryProvider/
pciSamples/
qtiItemPci/
qtiItemPic/
tao/
taoAltResultStorage/
taoBackOffice/
taoCe/
taoClientDiagnostic/
taoDacSimple/
taoDelivery/
taoDeliveryRdf/
taoEventLog/
taoGroups/
taoItems/
taoLti/
taoLtiBasicOutcome/
taoMediaManager/
taoOutcomeRds/
taoOutcomeUi/
taoProctoring/
taoQtiItem/
taoQtiTest/
taoQtiTestPreviewer/
taoResultServer/
taoRevision/
taoTaskQueue/
taoTestTaker/
taoTests/
vendor/
