nbproject
._*
.vagrant
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
/vendor
composer.phar
*.local.properties
/filemanager
/funcAcl
/generis*
/lti*
ontoBrowser/
/qti*
/tao*
/pci*
/wf*
/config
/data
/xmlEdit
index.php
