#
# vendor/bin/phpstan analyse --configuration=phpstan.neon tao --memory-limit=-1
#
parameters:
  paths:
    - tao
#    - generis
#    - funcAcl
#    - ltiDeliveryProvider
#    - pciSamples
#    - qtiItemPci
#    - qtiItemPic
#    - taoAltResultStorage
#    - taoBackOffice
#    - taoCe
#    - taoClientDiagnostic
#    - taoDacSimple
#    - taoDelivery
#    - taoDeliveryRdf
#    - taoEventLog
#    - taoGroups
#    - taoItems
#    - taoLti
#    - taoLtiBasicOutcome
#    - taoMediaManager
#    - taoOutcomeRds
#    - taoOutcomeUi
#    - taoProctoring
#    - taoQtiItem
#    - taoQtiTest
#    - taoQtiTestPreviewer
#    - taoResultServer
#    - taoRevision
#    - taoTaskQueue
#    - taoTestTaker
#    - taoTests
  excludePaths:
    analyse:
      - vendor/*
  level: 0
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  errorFormat: table
  phpVersion: 80100
  fileExtensions:
    - php
  treatPhpDocTypesAsCertain: false
  bootstrapFiles:
    - generis/test/bootstrap.php
  ignoreErrors:
    #
    # Tao Core
    #
    - '#Caught class ResourceDeletionException not found#'
    - '#Class common_session_SessionManager referenced with incorrect case: common_Session_SessionManager#'
    - '#Method tao_actions_Users::data\(\) should return json\|string but return statement is missing#'
    - '#Call to an undefined method tao_actions_Users::createInstance\(\).#'
    - '#Call to static method singleton\(\) on an unknown class wfEngine_models_classes_VariableService#'
    - '#Result of method tao_helpers_form_FormContainer::__construct\(\) \(void\) is used#'
    - '#Function get_data not found.#'
    - '#Method oat\\tao\\test\\unit\\session\\RestSessionFactoryTester::startSession\(\) should return bool but return statement is missing#'
    - '#Class Google\\Cloud\\PubSub\\Topic not found#'
    - '#Call to an undefined method oat\\tao\\test\\unit\\model\\taskQueue\\TaskLogTest::getBroker#'
    - '#Call to an undefined method oat\\tao\\test\\unit\\model\\taskQueue\\TaskLog\\Broker\\RdsTaskLogBrokerTest::getPersistence\(\)#'
    - '#Call to an undefined method oat\\tao\\test\\unit\\model\\taskQueue\\TaskLog\\Broker\\RdsTaskLogBrokerTest::getTableName\(\)#'
    - '#Call to an undefined method oat\\tao\\test\\unit\\model\\taskQueue\\TaskLog\\Broker\\RdsTaskLogBrokerTest::getTableName\(\)#'
    - '#Class oat\\tao\\elasticsearch\\ElasticSearch not found#'
    - '#Method oat\\tao\\test\\integration\\import\\samples\\FakeImporter::import\(\) should return common_report_Report but return statement is missing#'
    - '#Method oat\\tao\\scripts\\update\\Updater::update\(\) should return string but return statement is missing#'
    - '#but return statement is missing#'
    - '#Class oat\\taoPublishing\\model\\publishing\\event\\RemoteDeliveryCreatedEvent not found#'
    - '#Access to constant CONFIG_KEY on an unknown class tao_models_classes_fsAccess_Manager#'
    - '#Access to constant CONFIG_KEY on an unknown class tao_models_classes_fsAccess_Manager#'
    - '#Call to static method restoreFromString\(\) on an unknown class tao_models_classes_fsAccess_AccessProvider#'
    - '#Class tao_models_classes_fsAccess_TokenAccessProvider not found#'
    - '#Instantiated class core_kernel_persistence_Switcher not found#'
    - '#Unsafe usage of new static\(\)#'
    - '#Instantiated class PHPMailer not found#'
    - '#Caught class oat\\tao\\model\\messaging\\transportStrategy\\phpmailerException not found#'
    - '#Instantiated class tao_models_classes_Service is abstract#'
    - '#Parameter \$pubSubClient of method oat\\tao\\model\\Observer\\GCP\\PubSubObserver::__construct\(\) has invalid type Google\\Cloud\\PubSub\\PubSubClient#'
    - '#Access to an undefined property oat\\tao\\model\\controllerMap\\RequiresRightTag::\$right#'
    - '#Caught class oat\\tao\\elasticsearch\\Exception\\FailToUpdatePropertiesException not found#'
    - '#Method oat\\tao\\model\\service\\InjectionAwareService::iterateParameters\(\) should return iterable but return statement is missing#'
    - '#Deprecated in PHP 8\.0\: Required parameter \$xml_data follows optional parameter \$data\.#'
    - '#(Access to undefined constant static\(oat\\tao\\model\\taskQueue\\Queue\\Broker\\AbstractQueueBroker\)::ID).*#'
    - '#(is not covariant with tentative return type).*#'
    - '#(but return statement is missing).*#'
    #
    # Generis
    #