#
# rm -rf /tmp/phpstan && vendor/bin/phpstan analyse --configuration=phpstan.neon tao --memory-limit=-1
#
parameters:
  paths:
    - tao #covered
    - generis
    - funcAcl #covered
    - ltiDeliveryProvider #covered
    - pciSamples #covered
    - qtiItemPci #covered
    - qtiItemPic #covered
    - taoAltResultStorage #covered
    - taoBackOffice #covered
    - taoCe #covered
    - taoClientDiagnostic #covered
    - taoDacSimple #covered
    - taoDelivery #covered
    - taoDeliveryRdf #covered
    - taoEventLog #covered
    - taoGroups #covered
    - taoItems #covered
    - taoLti #covered
    - taoLtiBasicOutcome #covered
    - taoMediaManager
    - taoOutcomeRds
    - taoOutcomeUi
    - taoProctoring
    - taoQtiItem
    - taoQtiTest
    - taoQtiTestPreviewer
    - taoResultServer
    - taoRevision
    - taoTaskQueue
    - taoTestTaker
    - taoTests
  excludePaths:
    analyse:
      - vendor/*
      #
      # Tao Core
      #
      - tao/helpers/class.Xml.php
      - tao/models/classes/taskQueue/Queue.php
      - tao/helpers/translation/rdf/RdfPack.php
      - tao/helpers/DateIntervalMS.php
      - tao/models/classes/session/Business/Domain/SessionCookieAttributeCollection.php
      - tao/models/classes/service/InjectionAwareService.php
      #
      # taoEventLog
      #
      - taoEventLog/model/RdsLogIterator.php
      #
      # taoLti
      #
      - taoLti/test/integration/models/classes/Tool/Validation/Lti1p3ValidatorTest.php
      - taoLti/models/classes/LtiProvider/ConfigurableLtiProviderRepository.php
      - taoLti/models/classes/LtiProvider/RdfLtiProviderRepository.php
      - taoLti/models/classes/Platform/Repository/RdfLtiPlatformRepository.php
      #
      # taoLtiBasicOutcome
      #
      - taoLtiBasicOutcome/includes/ims-blti/* # This entire folder seems not to be used at all
  level: 0
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  errorFormat: table
  phpVersion: 80100
  fileExtensions:
    - php
  treatPhpDocTypesAsCertain: false
  bootstrapFiles:
    - generis/test/bootstrap.php
  ignoreErrors:
    #
    # Tao Core
    #
    - '#Caught class ResourceDeletionException not found#'
    - '#Class common_session_SessionManager referenced with incorrect case: common_Session_SessionManager#'
    - '#Method tao_actions_Users::data\(\) should return json\|string but return statement is missing#'
    - '#Call to an undefined method tao_actions_Users::createInstance\(\).#'
    - '#Call to static method singleton\(\) on an unknown class wfEngine_models_classes_VariableService#'
    - '#Result of method tao_helpers_form_FormContainer::__construct\(\) \(void\) is used#'
    - '#Function get_data not found.#'
    - '#Method oat\\tao\\test\\unit\\session\\RestSessionFactoryTester::startSession\(\) should return bool but return statement is missing#'
    - '#Class Google\\Cloud\\PubSub\\Topic not found#'
    - '#Call to an undefined method oat\\tao\\test\\unit\\model\\taskQueue\\TaskLogTest::getBroker#'
    - '#Call to an undefined method oat\\tao\\test\\unit\\model\\taskQueue\\TaskLog\\Broker\\RdsTaskLogBrokerTest::getPersistence\(\)#'
    - '#Call to an undefined method oat\\tao\\test\\unit\\model\\taskQueue\\TaskLog\\Broker\\RdsTaskLogBrokerTest::getTableName\(\)#'
    - '#Call to an undefined method oat\\tao\\test\\unit\\model\\taskQueue\\TaskLog\\Broker\\RdsTaskLogBrokerTest::getTableName\(\)#'
    - '#Class oat\\tao\\elasticsearch\\ElasticSearch not found#'
    - '#Method oat\\tao\\test\\integration\\import\\samples\\FakeImporter::import\(\) should return common_report_Report but return statement is missing#'
    - '#Method oat\\tao\\scripts\\update\\Updater::update\(\) should return string but return statement is missing#'
    - '#but return statement is missing#'
    - '#Class oat\\taoPublishing\\model\\publishing\\event\\RemoteDeliveryCreatedEvent not found#'
    - '#Access to constant CONFIG_KEY on an unknown class tao_models_classes_fsAccess_Manager#'
    - '#Access to constant CONFIG_KEY on an unknown class tao_models_classes_fsAccess_Manager#'
    - '#Call to static method restoreFromString\(\) on an unknown class tao_models_classes_fsAccess_AccessProvider#'
    - '#Class tao_models_classes_fsAccess_TokenAccessProvider not found#'
    - '#Instantiated class core_kernel_persistence_Switcher not found#'
    - '#Unsafe usage of new static\(\)#'
    - '#Instantiated class PHPMailer not found#'
    - '#Caught class oat\\tao\\model\\messaging\\transportStrategy\\phpmailerException not found#'
    - '#Instantiated class tao_models_classes_Service is abstract#'
    - '#Parameter \$pubSubClient of method oat\\tao\\model\\Observer\\GCP\\PubSubObserver::__construct\(\) has invalid type Google\\Cloud\\PubSub\\PubSubClient#'
    - '#Access to an undefined property oat\\tao\\model\\controllerMap\\RequiresRightTag::\$right#'
    - '#Caught class oat\\tao\\elasticsearch\\Exception\\FailToUpdatePropertiesException not found#'
    - '#Method oat\\tao\\model\\service\\InjectionAwareService::iterateParameters\(\) should return iterable but return statement is missing\.#'
    - '#Deprecated in PHP 8\.0: Required parameter \$xml_data follows optional parameter \$data\.#'
    - '#(Access to undefined constant static\(oat\\tao\\model\\taskQueue\\Queue\\Broker\\AbstractQueueBroker\)::ID).*#'
    - '#(is not covariant with tentative return type).*#'
    - '#(but return statement is missing).*#'
    - '#Instantiated class BootStrap not found\.#'
    #
    # Generis
    #
    #
    # ltiDeliveryProvider
    #
    - '#Method oat\\ltiDeliveryProvider\\scripts\\e2e\\BuildE2eConfiguration::getOauthService\(\) has invalid return type oat\\taoOauth\\model\\Oauth2Service\.#'
    - '#Access to constant SERVICE_ID on an unknown class oat\\taoOauth\\model\\Oauth2Service\.#'
    - '#Access to an undefined property oat\\ltiDeliveryProvider\\test\\integration\\model\\requestLog\\rds\\LtiResultAliasStorageTest::\$deliveryExecutionId\.#'
    - '#Instantiated class Bootstrap not found\.#'
    #
    # qtiItemPci
    #
    - '#Instantiated class oat\\qtiItemPci\\migrations\\IrreversibleMigration not found\.#'
    - '#Access to an undefined property oat\\qtiItemPci\\model\\portableElement\\export\\ImsPciExporter::\$qtiItemExporter\.#'
    - '#Access to an undefined property oat\\qtiItemPci\\model\\portableElement\\export\\OatPciExporter::\$qtiItemExporter\.#'
    - '#Array has 2 duplicate keys with value#'
    #
    # qtiItemPic
    #
    - '#Access to an undefined property#'
    #
    # taoAltResultStorage
    #
    - '#Instantiated class taoResultServer_models_classes_ResultServerStateFull not found\.#'
    #
    # taoBackOffice
    #
    - '#Cannot unset offset string on array\{\}\.#'
    #
    # taoDelivery
    #
    - '#has invalid type Aws\\Result#'
    #
    # taoDeliveryRdf
    #
    - '#taoCampaign_helpers_Campaign#'
    - '#Parameter \$deliveryClass of method oat\\taoDeliveryRdf\\model\\DeliveryAssemblyService::createAssemblyFromServiceCall\(\) has invalid type oat\\taoDeliveryRdf\\model\\core_kernel_classes_Class\.#'
    - '#Instantiated class oat\\taoDeliveryRdf\\model\\import\\Assembler not found\.#'
    #
    # taoEventLog
    #
    - '#Access to undefined constant oat\\taoEventLog\\model\\requestLog\\rds\\RdsRequestLogStorage::USER_ID\.#'
    - '#Access to undefined constant oat\\taoEventLog\\model\\requestLog\\rds\\RdsRequestLogStorage::SERVICE_ID\.#'
    - '#Access to undefined constant oat\\taoEventLog\\model\\StorageInterface::SERVICE_ID\.#'
    - '#Access to undefined constant oat\\taoEventLog\\model\\StorageInterface::EVENT_LOG_TABLE_NAME\.#'
    - '#Access to undefined constant oat\\taoEventLog\\model\\StorageInterface::EVENT_LOG_ACTION\.#'
    - '#Access to undefined constant oat\\taoEventLog\\model\\storage\\RdsStorage::EVENT_LOG_TABLE_NAME\.#'
    - '#Parameter \$user of method oat\\taoEventLog\\model\\requestLog\\RequestLogService::log\(\) has invalid type oat\\taoEventLog\\model\\requestLog\\User\.#'
    - '#Return type mixed of method oat\\taoEventLog\\model\\RdsLogIterator::next\(\) is not covariant with tentative return type void of method Iterator::next\(\)\.#'
    - '#Return type mixed of method oat\\taoEventLog\\model\\RdsLogIterator::valid\(\) is not covariant with tentative return type void of method Iterator::valid\(\)\.#'
    - '#Return type mixed of method oat\\taoEventLog\\model\\RdsLogIterator::rewind\(\) is not covariant with tentative return type void of method Iterator::rewind\(\)\.#'
    - '#Instantiated class oat\\taoEventLog\\model\\requestLog\\rds\\UserActivityLogIterator not found\.#'
    - '#Instantiated class oat\\taoEventLog\\model\\requestLog\\fluentd\\RequestLogException not found\.#'
    #
    # taoItems
    #
    - '#\(void\) is used\.#'
    - '#Call to an undefined method taoItems_actions_SaSItems::initPreview\(\)\.#'
    #
    # taoLti
    #
    - '#Return type mixed of method oat\\taoLti\\models\\classes\\LtiProvider\\ConfigurableLtiProviderRepository::count\(\) is not covariant with tentative return type int of method Countable::count\(\)\.#'
    - '#Return type mixed of method oat\\taoLti\\models\\classes\\LtiProvider\\RdfLtiProviderRepository::count\(\) is not covariant with tentative return type int of method Countable::count\(\)\.#'
    - '#Return type mixed of method oat\\taoLti\\models\\classes\\Platform\\Repository\\RdfLtiPlatformRepository::count\(\) is not covariant with tentative return type int of method Countable::count\(\)\.#'