<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
         bootstrap="./generis/test/bootstrap.php">
    <filter>
        <whitelist>
            <directory suffix=".php">./*</directory>
            <exclude>
                <directory suffix=".php">./*/config</directory>
                <directory suffix=".php">./*/includes</directory>
                <directory suffix=".php">./*/locales</directory>
                <directory suffix=".php">./*/migrations</directory>
                <directory suffix=".php">./*/scripts</directory>
                <directory suffix=".php">./*/test</directory>
                <file>./*/manifest.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="log/*/junit.xml"/>
    </logging>
</phpunit>
