{
  "url": "http://tao-community.docker.localhost",
  "login": "admin",
  "password": "Admin.12345",
  "oauth": {
    "client key": "c35b263b78fa20aa560702a232fff5fc",
    "client secret": "GSJ2z6xH3E3MelJbXA6AmQeQeYfCRueg3af9a92aba6bfc28559a8c5689adbc87fd901f18b00671e3bc5d5566f5af5e38",
    "token url": "http://tao-community.docker.localhost/taoOauth/TokenApi/requestToken"
  }
}
